asgiref==3.10.0
beautifulsoup4==4.12.3
boto3==1.40.59
botocore==1.40.59
certifi==2025.10.5
charset-normalizer==3.4.4
Django==5.0
django-htmx==1.26.0
djangorestframework==3.16.1
fuzzywuzzy==0.18.0
gunicorn==23.0.0
idna==3.11
jmespath==1.0.1
Levenshtein==0.27.1
packaging==25.0
pillow==12.0.0
playwright==1.42.0
psycopg2-binary==2.9.11
python-dateutil==2.9.0.post0
python-decouple==3.8
python-Levenshtein==0.27.1
RapidFuzz==3.14.1
requests==2.32.5
s3transfer==0.14.0
schedule==1.2.2
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.15.0
urllib3==2.5.0
